<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <title>Templater</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>

    <style>
    body{padding-top: 20px;}
    </style>
</head>

<body ng-controller="TestCtrl">
    <div class="container col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <!--  -->
        <h5>Demo:</h5>
        <div class="btn-group btn-group-justified">
            <div class="btn-group" ng-repeat="(k, v) in demo_list">
                <button
                    type="button"
                    class="btn btn-default"
                    ng-click="use(k)"
                    ng-class="{active:k==active}"
                    >{{ k }}</button>
            </div>
        </div>
        <br>
        <!--  -->
        <div class="jumbotron">
            <templater id="templater" map="map_object" tmpl="templates"></templater>
        </div>
        <!--  -->
        <pre>{{map_object | json}}</pre>
        <!--  -->
        <pre>{{html}}</pre>
        <!--  -->
    </div>
    <script src="src/templater.js"></script>
    <script src="test/app.js"></script>
</body>

</html>
